[Desktop Entry]
Encoding=UTF-8
Name=LSkat
Name[x-test]=xxLSkatxx
GenericName=Card Game
GenericName[fr]=Jeu de cartes
GenericName[x-test]=xxCard Gamexx
Exec=lskat
Icon=lskat
MimeType=
SwallowExec=
SwallowTitle=
Terminal=false
Type=Application
DocPath=lskat/index.html
Categories=Qt;KDE;Game;CardGame;
