[Desktop Entry]
Name=LSkat
Name[be]=LSkat
Name[ca]=LSkat
Name[ca@valencia]=LSkat
Name[cs]=Poručík skat
Name[da]=LSkat
Name[de]=LSkat
Name[el]=LSkat
Name[en_GB]=LSkat
Name[eo]=LSkat
Name[es]=LSkat
Name[et]=LSkat
Name[eu]=LSkat
Name[fi]=LSkat
Name[fr]=LSkat
Name[ga]=LSkat
Name[gl]=LSkat
Name[hne]=एलएस-कैट
Name[hu]=LSkat
Name[it]=LSkat
Name[ja]=LSkat
Name[km]=LSkat
Name[ko]=LSkat
Name[lt]=LSkat
Name[lv]=LSkat
Name[nds]=LSkat
Name[ne]=एल स्क्याट
Name[nl]=LSkat
Name[nn]=Løytnant Skat
Name[pl]=LSkat
Name[pt]=LSkat
Name[pt_BR]=LSkat
Name[ru]=LSkat
Name[sl]=LSkat
Name[sr]=П‑скат
Name[sr@ijekavian]=П‑скат
Name[sr@ijekavianlatin]=P‑skat
Name[sr@latin]=P‑skat
Name[sv]=Officersskat
Name[te]=ఎల్ స్కెట్
Name[tr]=LSkat
Name[uk]=LSkat
Name[wa]=LSkat
Name[x-test]=xxLSkatxx
Name[zh_CN]=LSkat
Name[zh_TW]=LSkat
GenericName=Card Game
GenericName[af]=Kaart Speletjie
GenericName[be]=Картачная гульня
GenericName[bn]=তাস খেলা
GenericName[br]=C'hoari kartennoù
GenericName[ca]=Joc de cartes
GenericName[ca@valencia]=Joc de cartes
GenericName[cs]=Karty
GenericName[cy]=Gêm Cerdiau
GenericName[da]=Kortspil
GenericName[de]=Offiziersskat
GenericName[el]=Παιχνίδι χαρτιών
GenericName[en_GB]=Card Game
GenericName[eo]=Kartludo
GenericName[es]=Juego de cartas
GenericName[et]=Kaardimäng
GenericName[eu]=Karta-jokoa
GenericName[fa]=بازی ورق
GenericName[fi]=Korttipeli
GenericName[fr]=Jeu de cartes
GenericName[ga]=Cluiche Cártaí
GenericName[gl]=Xogo de cartas
GenericName[he]=משחק קלפים
GenericName[hne]=तास वाले खेल
GenericName[hr]=Kartaška igra
GenericName[hu]=Kártyajáték
GenericName[is]=Spil
GenericName[it]=Gioco di carte
GenericName[ja]=カードゲーム
GenericName[km]=ល្បែង​បៀ
GenericName[ko]=카드 게임
GenericName[lt]=Kortų žaidimas
GenericName[lv]=Kāršu spēle
GenericName[mk]=Игра со карти
GenericName[nb]=Kortspill
GenericName[nds]=Koortenspeel
GenericName[ne]=ताश खेल
GenericName[nl]=Kaartspel
GenericName[nn]=Kortspel
GenericName[oc]=Jòc de cartas
GenericName[pa]=ਤਾਸ਼ ਖੇਡ
GenericName[pl]=Gra karciana
GenericName[pt]=Jogo de Cartas
GenericName[pt_BR]=Jogo de Cartas
GenericName[ro]=Un joc de cărți
GenericName[ru]=Карточная игра
GenericName[se]=Goartaspeallu
GenericName[sk]=Kartová hra
GenericName[sl]=Igra s kartami
GenericName[sr]=Игра са картама
GenericName[sr@ijekavian]=Игра са картама
GenericName[sr@ijekavianlatin]=Igra sa kartama
GenericName[sr@latin]=Igra sa kartama
GenericName[sv]=Kortspel
GenericName[ta]=அட்டை விளையாட்டு
GenericName[te]=పేక ఆట
GenericName[tg]=Бозии Кортҳо
GenericName[tr]=İskambil Oyunu
GenericName[uk]=Гра у карти
GenericName[uz]=Qarta oʻyini
GenericName[uz@cyrillic]=Қарта ўйини
GenericName[vi]=Game thẻ 
GenericName[wa]=Cwårdjeu
GenericName[xh]=Ikhadi lomdlalo
GenericName[x-test]=xxCard Gamexx
GenericName[zh_CN]=牌类游戏
GenericName[zh_TW]=紙牌遊戲
Exec=lskat
Icon=lskat
MimeType=
Terminal=false
Type=Application
X-DocPath=lskat/index.html
Categories=Qt;KDE;Game;CardGame;
