[Desktop Entry]
Comment[C]=Lieutnant Skat
Exec=lskat
Icon=lskat
MimeType=
Name[C]=Lieutnant Skat
SwallowExec=
SwallowTitle=
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=0
X-KDE-Username=
