[Theme]
Name=Green Blase
Name[el]=Πράσινη ευχαρίστηση
Name[es]=Verde artificial
Name[nl]=Groene blase
Name[pt]=Fundo Verde
Name[pt_BR]=Fundo Verde
Name[sv]=Grön blasé
Name[zh_CN]=醇绿
File=blue.rc

