[Theme]
Name=Egyptian
Name[da]=Egyptisk
Name[de]=Ägyptisch
Name[el]=Αιγύπτιο
Name[et]=Egiptus
Name[nn]=Egyptisk
Name[pt]=Egípcio
Name[pt_BR]=Egípcio
Name[sr]=Египатски
Name[sr@latin]=Egipatski
Name[sv]=Egyptisk
Name[uk]=Єгиптянин
Name[x-test]=xxEgyptianxx
Name[zh_CN]=埃及
Name[zh_TW]=埃及式
File=egyptian.rc
Default=true
