[Default]
Name=Default
Name[be]=Прадвызначаны
Name[el]=Προκαθορισμένο
Name[es]=Predeterminado
Name[fa]=پیش‌فرض
Name[ga]=Réamhshocrú
Name[ja]=デフォルト
Name[ne]=पूर्वनिर्धारित
Name[pt]=Predefinição
Name[pt_BR]=Predefinição
Name[sv]=Förval
Name[uk]=Типові
Name[x-test]=xxDefaultxx
Name[zh_TW]=預設
File=default.rc

[Green Blase]
Name=Green Blase
Name[pt]=Fundo Verde
Name[pt_BR]=Fundo Verde
File=blue.rc

